* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2% 10%;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	border-bottom: 1.5px solid slategray;
	background-color: #fff;
}

.user-select-container {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	gap: 1rem;
	text-align: end;
}

select {
	font-size: 1.1rem;
	padding: 0.2rem;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2% 10%;
}

#status-message {
	font-size: 1.3rem;
	font-weight: 600;
	padding-top: 1.5rem;
	text-align: center;
}

.content-layout {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap-reverse;
}

.left-column {
	width: 100%;
	max-width: 60ch;
}

#bookmark-form {
	position: sticky;
	top: 10rem;
	align-self: flex-end;
	padding-top: 1.5rem;
	margin-bottom: 5rem;
}

#add-bookmark {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

[hidden] {
	display: none !important;
}

label {
	margin-top: 10px;
}

input {
	height: 1.5rem;
}

textarea {
	min-height: 100px;
}

#form-error {
	color: maroon;
}

#submit-bookmark {
	margin-top: 15px;
	font-size: 1.3rem;
	padding: 0.5rem;
}

.bookmark-card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 60ch;
	width: 100%;
	border-bottom: 1px dashed black;
	padding: 1.5rem 1rem 2.5rem 1rem;
	text-align: start;
}

.bookmark-heading {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.bookmark-title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.bookmark-description {
	white-space: pre-wrap;
}

.copy-link {
	padding: 5px 10px;
	position: relative;
}

.copy-link .tooltip {
	visibility: hidden;
	min-width: max-content;
	width: fit-content;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 6px;
	position: absolute;
	z-index: 1;
	bottom: 105%;
	margin-left: -30px;
	opacity: 0;
	transition: opacity 0.3s;
}

.copy-link:hover .tooltip,
.copy-link:focus-visible .tooltip {
	visibility: visible;
	opacity: 1;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.meta-info {
	margin-top: 1rem;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.likes-region {
	display: flex;
	align-items: center;
	gap: 10px;
}

.like-button {
	font-size: 1.2rem;
	padding: 0.2rem;
}
